Use the given file named cricket.csv and perform the following operations:
1. Read the file in DataFrame
2. List the name of cricketer and their respective runs
3. Find total wickets taken by them
4. Find average of catches taken
5. Find the name of wicketkeeper
6. print the name of bowler who played highest number of matches
7. Find average of all the bowlers
8. Find name of the bowler with least bowling average (wickets per match).
9. Print information about all players whose catches per match ratio is greater than 0.5
store it in a csv file.
10. Draw the bar chart of playr name against their runs.
11. Sort and print information about players by ascending order of runs
12. print the names of players whose wickets are greater than matches

In [4]:
#Read the file in DataFrame
import pandas as pd
data1 = pd.read_csv('cricket.csv')

In [5]:
data1.head()

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0

In [6]:
#List the name of cricketer and their respective runs
data1[["name","runs"]]

            name  runs
0    Anil Dalpat  6755
1   Rohan Kanhay  1256
2  Avdhoot Dighe  8954
3       Bahubali   756
4      Leeladhar  2866
5      Pradyumna  5877
6     Dinesh Roy  8537
7     Parmeshwar  9466
8    Ali Durrani  2756
9   Litesh Singh  1099

In [7]:
#Find total wickets taken by them
data1[["name","wickets"]]

            name  wickets
0    Anil Dalpat       12
1   Rohan Kanhay      178
2  Avdhoot Dighe        0
3       Bahubali       11
4      Leeladhar      376
5      Pradyumna      122
6     Dinesh Roy       16
7     Parmeshwar        0
8    Ali Durrani       26
9   Litesh Singh       49

In [8]:
#Find average of catches taken
data1.loc[:,'catches'].mean()

63.3

In [9]:
#Find the name of wicketkeeper
data1[data1['stumpings']!=0]['name']

3    Bahubali
Name: name, dtype: object

In [10]:
#print the name of bowler who played highest number of matches
data1_bowlers=data1[data1['wickets']!=0]
data1_bowlers[data1_bowlers['matches']==data1_bowlers.loc[:,'matches'].max()]['name']

4    Leeladhar
Name: name, dtype: object

In [11]:
# Find average of all the bowlers
# As the number of runs conceded by the bowler have not been given,
# the average has been calculated as wickets per match

data1_bowlers.loc[:,'bowling_average']=data1_bowlers.loc[:,'wickets'] / data1_bowlers.loc[:,'matches']
data1_bowlers

<ipython-input-11-a65fed75362e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1_bowlers.loc[:,'bowling_average']=data1_bowlers.loc[:,'wickets'] / data1_bowlers.loc[:,'matches']

,sr.no,name,matches,runs,catches,wickets,stumpings,bowling_average
0,1,Anil Dalpat,122,6755,56,12,0,0.098361
1,2,Rohan Kanhay,144,1256,76,178,0,1.236111
3,4,Bahubali,10,756,6,11,3,1.100000
4,5,Leeladhar,234,2866,105,376,0,1.606838
5,6,Pradyumna,177,5877,47,122,0,0.689266
6,7,Dinesh Roy,211,8537,112,16,0,0.075829
8,9,Ali Durrani,55,2756,12,26,0,0.472727
9,10,Litesh Singh,89,1099,46,49,0,0.550562

In [12]:
# Find name of the bowler with least bowling average (wickets per match).
data1_bowlers[data1_bowlers['bowling_average'] == data1_bowlers['bowling_average'].min()]['name']

6    Dinesh Roy
Name: name, dtype: object

In [13]:
# Print information about all players whose catches per match ratio is greater than 0.5
# store it in a csv file.
data1_bowlers[data1_bowlers['bowling_average'] > 0.5].to_csv("Bowling_average_lessthan_0pt5.csv")

In [14]:
#Draw the bar chart of playr name against their runs.
data1[['name','runs']]

            name  runs
0    Anil Dalpat  6755
1   Rohan Kanhay  1256
2  Avdhoot Dighe  8954
3       Bahubali   756
4      Leeladhar  2866
5      Pradyumna  5877
6     Dinesh Roy  8537
7     Parmeshwar  9466
8    Ali Durrani  2756
9   Litesh Singh  1099

In [15]:
#Sort and print information about players by ascending order of runs
data1.sort_values(["runs"],ignore_index=True)

   sr.no           name  matches  runs  catches  wickets  stumpings
0      4       Bahubali       10   756        6       11          3
1     10   Litesh Singh       89  1099       46       49          0
2      2   Rohan Kanhay      144  1256       76      178          0
3      9    Ali Durrani       55  2756       12       26          0
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      1    Anil Dalpat      122  6755       56       12          0
7      7     Dinesh Roy      211  8537      112       16          0
8      3  Avdhoot Dighe      265  8954      120        0          0
9      8     Parmeshwar      245  9466       53        0          0

In [16]:
#print the names of players whose wickets are greater than matches
data1[(data1['wickets'])>(data1['matches'])]['name']

1    Rohan Kanhay
3        Bahubali
4       Leeladhar
Name: name, dtype: object

Download the file of fb.csv which contains the information about different posts information
posted on Facebook page.
 Location: https://mitu.co.in/dataset
1. Count how many number of posts are paid and unpaid?
 2. Display only Page type, Month, likes, comments and shares.
 3. Find average number of likes to the post in September month.
 4. Print the information about the posts which are links.
 5. How many total shares are present for the video posts?
 6. In which hour of the day maximum posts are posted?
 7. In which day of October, maximum number of interactions are found?
 8. Print the information of the posts where likes are above 200 and shares are above 30.
 9. Which kind of posts are posted maximum number of times in November month?
 10. Find average and median of interactions for the paid (1) posts

In [28]:
# Count how many number of posts are paid and unpaid?
import pandas as pd
data2 = pd.read_csv("./fb.csv")
data2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [ ]:
print("Number of paid posts")
data2['Paid']

In [29]:
#Display only Page type, Month, likes, comments and shares.
data2[['Type','Post Month','like','comment','share']]

       Type  Post Month    like  comment  share
0     Photo          12    79.0        4   17.0
1    Status          12   130.0        5   29.0
2     Photo          12    66.0        0   14.0
3     Photo          12  1572.0       58  147.0
4     Photo          12   325.0       19   49.0
..      ...         ...     ...      ...    ...
495   Photo           1    53.0        5   26.0
496   Photo           1    53.0        0   22.0
497   Photo           1    93.0        4   18.0
498   Photo           1    91.0        7   38.0
499   Photo           1    91.0        0   28.0

[500 rows x 5 columns]

In [34]:
# Find average number of likes to the post in September month.
data2_Sept = data2[data2['Post Month'] == 9]
print("Average number of likes in september are", data2_Sept['like'].mean())

Average number of likes in september are 230.94444444444446

In [35]:
# Print the information about the posts which are links.
data2[data2['Type'] == 'Link']

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
22,138414,Link,1,12,7,10,0.0,3454,6853,118,104,130,6282,3100,106,0,16.0,2.0,18
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211
43,138353,Link,1,12,5,3,1.0,2645,4270,134,109,170,2330,1377,101,7,29.0,10.0,46
45,138353,Link,1,12,4,3,1.0,7968,13023,206,158,223,6734,3492,138,4,57.0,10.0,71
47,138353,Link,1,12,3,2,0.0,1925,3481,97,83,126,2307,1180,77,6,18.0,8.0,32
49,138353,Link,1,12,2,2,0.0,1536,3094,84,76,99,2903,1407,76,1,12.0,1.0,14
86,137177,Link,1,11,4,3,0.0,21176,54779,330,228,329,13858,5248,185,2,130.0,31.0,163
136,136393,Link,1,10,5,10,0.0,4664,9463,204,182,251,7196,3324,173,0,32.0,16.0,48
140,136013,Link,1,10,4,3,0.0,68992,229733,1032,975,1345,17842,8032,635,15,143.0,44.0,202
149,135713,Link,1,10,6,11,1.0,3616,6887,111,90,118,4263,2138,93,0,24.0,11.0,35
344,117764,Link,1,5,1,2,0.0,12540,19301,344,322,396,16914,11008,289,3,46.0,14.0,63
372,113028,Link,1,4,5,7,1.0,35360,45260,339,325,477,9105,5472,156,7,38.0,11.0,56
403,107907,Link,1,4,2,6,0.0,70912,94172,1374,1106,1267,42338,27232,788,1,379.0,40.0,420
408,106928,Link,1,4,6,4,0.0,34192,42092,338,322,389,22907,16464,230,1,36.0,7.0,44
425,102112,Link,3,3,1,3,0.0,6876,10885,282,245,337,9403,5752,259,2,68.0,15.0,85
430,100732,Link,1,3,7,14,0.0,2933,5144,24,23,26,3972,2012,19,0,6.0,0.0,6
438,98195,Link,2,3,6,6,0.0,5730,10083,103,71,97,8964,4830,92,2,32.0,15.0,49
470,91437,Link,1,2,3,13,0.0,9356,14986,448,381,505,13919,8460,392,4,114.0,13.0,131
477,86909,Link,1,1,6,4,0.0,39600,7927,572,496,581,12522,8176,167,1,101.0,5.0,107
481,86491,Link,1,1,4,4,1.0,4938,7910,66,63,70,6625,3804,59,0,5.0,2.0,7
485,86491,Link,1,1,2,2,0.0,5168,8371,66,59,71,7041,3996,58,0,12.0,2.0,14
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137

In [39]:
# How many total shares are present for the video posts?
data2_video = data2[data2['Type'] == 'Video']
print("Total shares for video posts", data2_video['share'].sum())

Total shares for video posts 365.0

In [59]:
# In which hour of the day maximum posts are posted?
data2['Post Hour'].value_counts().head(1)

Post Hour
3    105
Name: count, dtype: int64

In [52]:
#In which day of October, maximum number of interactions are found?
data2_October = data2[data2['Post Month'] == 10]
max_interactions = data2_October['Total Interactions'].max()
data2[data2['Total Interactions'] == max_interactions]['Post Weekday']

101    4
Name: Post Weekday, dtype: int64

In [53]:
# Print the information of the posts where likes are above 200 and shares are above 30.
data2[(data2['like'] > 200) & (data2['share'] > 30)]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
26,138458,Status,2,12,5,11,0.0,19552,34143,2806,2531,3420,17748,9824,1779,10,412.0,72.0,494
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
38,138895,Status,2,12,7,9,0.0,17576,33058,5352,5202,6547,23135,11792,4104,11,227.0,31.0,269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,92079,Photo,1,2,6,13,0.0,158208,453213,2482,2319,3412,81938,20608,1034,9,268.0,36.0,313
468,91651,Photo,1,2,4,12,0.0,15288,31467,1573,1401,2110,28247,13312,1052,5,264.0,36.0,305
476,86909,Photo,1,1,6,10,1.0,37088,10966,2728,2288,3183,66311,34352,2021,7,579.0,47.0,633
480,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515
488,85979,Photo,3,1,7,10,0.0,9700,17442,1407,1271,2007,8872,4876,660,21,277.0,80.0,378

In [60]:
#Which kind of posts are posted maximum number of times in November month?
data2_November = data2[data2['Post Month'] == 11]
data2_November['Type'].value_counts().head(1)

Type
Photo    38
Name: count, dtype: int64

In [58]:
#Find average and median of interactions for the paid (1) posts
data2_paid = data2[data2['Paid'] == 1.0]
print("Average: ",data2_paid['Total Interactions'].mean())
print("Median: ",data2_paid['Total Interactions'].median())

Average:  278.23021582733816
Median:  158.0